* {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0 0.5em;
  height: 100%;
}

section {
  border-left: solid 1px black;
  border-right: solid 1px lightgray;
  margin-left: 1.75em;
  width: 80ch;
  height: 100%;
  padding-left: 0.5em;
}

header, footer {
  margin-left: 2em;
  width: 80ch;
}

header {
  margin: 0;
}

code {
  color: #F08742;
}

h1, h2, h3, h4, h5, h6 {
  color: #464357;
}

ol {
  padding-left: 1.5em;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  color: #4779bd;
}

.sidebar {
  float: left;
}
